<a href="https://colab.research.google.com/github/Shivani-saran/BLOCK-CHAIN-FOR-BUSSINESS/blob/main/Experiment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ques.01)**
Print the following:
'Brian's mother: He's not the messiah.
he's a very naughty boy!'

In [2]:
print("Brian's mother : he's not the messiah.\n He's a very naughty boy !")

Brian's mother : he's not the messiah.
 He's a very naughty boy !

**Ques.02)**
Take two variable a and b.Assign you first name and last name. print your name after adding your first name and last name together.

In [4]:
a="Shivani"
b="Saran"
print(a +""+b)

ShivaniSaran

**Ques.03)**
print your name three times like
GeorgeGeorgeGeorge.

In [5]:
a="Shivani"
print(a*3)

ShivaniShivaniShivani

**Ques.04)**
Print your name three times like
George  George  George

In [6]:
a="Shivani\t"
print(a*3)

Shivani	Shivani	Shivani

**Ques.05)**
Declare and assign values to the variable first name,last name, address, DOB, Programme, semester, SAP ID and print in the following way:
NAME : MOHIT BANSAL                    SAP ID : 500069944
DATE OF BIRTH : 13 Oct 1999
ADDRESS : UPES
Bodholi Campus
Pincode:  248007
Programme :BAO

In [10]:
import datetime
a="Shivani"
b="Saran\t\t"
c="Indore,MP"
d="08/04/1999"
e="BAO"
f="500075219"
g="248007"
print("Name:" +a +" " +b +"\n" +"DOB : " +d)
print("SAP ID :" +f)
print("Programme :" +e +"\n" +"Address : " +c )
print("Pincode : " +g)

Name:Shivani Saran
DOB : 08/04/1999
SAP ID :500075219
Programme :BAO
Address : Indore,MP
Pincode : 248007

**Ques.06)**
Write a python program to solve (x+y)*(x+y).
Test data : x=4,y=3
Expected output : (4+3)^2=49

In [11]:
x=int(input())
y=int(input())
z=(x+y)*(x+y)
print(z)

4
3
49

**Ques.07)**
write a program to find simple interest.

In [12]:
p=float(input())
r=float(input())
t=float(input())
si=(p*r*t)/100
print(si)

10000
4.5
3
1350.0

**Ques.08)** 
write a program to convert given seconds into hours, minutes and remaining seconds.

In [13]:
sec=int(input())
hrs=int(sec/3600)
min=int((sec-hrs*3600)/60)
sec=(sec-hrs*3600-min*60)
print("Hours : ",hrs, "\nminutes : ",min,"\nSeconds : ",sec)

9652
Hours :  2
minutes :  40
Seconds :  52

**Ques.09)**
Write a program to swap two numbers without taking additional variable.

In [14]:
a=int(input())
b=int(input())
a+=b
b=a-b
a=a-b
print("a:",a)
print("b:",b)

8
2
a: 2
b: 8

**Ques.10)**
write a program to find sum of n natural numbers.

In [15]:
n=int(input())
sum=((n*(n+1))/2)
print(sum)

5
15.0