<a href="https://colab.research.google.com/github/Shivani-saran/BLOCK-CHAIN-FOR-BUSSINESS/blob/main/Experiment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ques.01)**
Find a factorial of a given number.

In [13]:
a=int(input("enter any number:"))
f=1
while (a >= 1):
 f=f*a
 a-=1
print(f)

enter any number:4
24

**Ques.02)**
Find whether the given no is armstrong no

In [22]:
def power(x, y):
    if y == 0:
        return 1
    if y % 2 == 0:
        return power(x, y // 2) * power(x, y // 2)
          
    return x * power(x, y // 2) * power(x, y // 2)
def order(x):
    n = 0
    while (x != 0):
        n = n + 1
        x = x // 10
          
    return n
def isArmstrong(x):
      
    n = order(x)
    temp = x
    sum1 = 0
      
    while (temp != 0):
        r = temp % 10
        sum1 = sum1 + power(r, n)
        temp = temp // 10
    return (sum1 == x)
x=153
print(isArmstrong(x))
  
x = 1253
print(isArmstrong(x))

True
False

**Ques.03)**
Print fibnocci series upto given term

In [23]:

nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

**Ques.04)**
Write a program to find prime number

In [18]:
num = int(input("enter any number:"))
  
if num > 1:
  
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
  
else:
    print(num, "is not a prime number")

enter any number:41
41 is a prime number

**Ques.05)**
Check whether a given no is pallindrome or not

In [17]:
num = input('Enter any number : ')
try:
   val = int(num)
   if num == str(num)[::-1]:
      print('The given number is PALINDROME')
   else:
      print('The given number is NOT a palindrome')
except ValueError:
   print("That's not a valid number, Try Again !")

Enter any number : 123454321
The given number is PALINDROME

**Ques.06)**
Write a program to print sum of digits.

In [16]:
n = int(input("Enter any number"))
sum = 0
for digit in str(n): 
    sum += int(digit)
print(sum)

Enter any number25417
19

**Ques.07)**
count and print all no divisible by 5 or 7 between 1 to 100.

In [3]:
count = 0
for x in range(1,100):
 if(x%5 == 0 or x%7 == 0):
  print(x,end = " ")
 count+=1
print("\nTotal numbers divisible by 5 or 7 between 1 and 100: ",count)

5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98
Total numbers divisible by 5 or 7 between 1 and 100:  99

**Ques.08)**
Convert alll lowercase to uppercase in a string.

In [5]:
string = input()
print(string.upper())

my name is shivani saran
MY NAME IS SHIVANI SARAN

**Ques.09)**
Print prime numbers between 1 and 100.

In [6]:
j = 1
for num in range(1,101):
 if num > 1:
  for i in range(2,num):
   if (num % i) == 0:
    break
  else:
   print(num)
   j += 1
print("Total Prime Numbers Between 1 to 100 is")
print(j)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
Total Prime Numbers Between 1 to 100 is
26

**Ques.10)**
Print the table for a given no.
5*1=5
5*2=10.....

In [9]:
num = 5
i = 1
while(i <= 10):
 x = (num * i)
 print(num , "*" , i , '=' , x)
 i += 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50